body {
  margin-top: 50px;
}

nav ul {
  width: 100%;
  background-color: darkblue;
  list-style-type : none;
  margin: 0;
  padding: 0;
}

/* nav안의 ul안의 li요소들을 가로로 배치 */
nav ul li {
  display: inline-block;
}

/* 드롭다운 메뉴 부모 요소 */
.dropdown{
  position: relative;
  display: inline-block;
}

/* 드롭다운 내부 a 태그 스타일 */
.dropdown a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu{
  padding: 16px;
  font-size: 16px;
}

/* 드롭다운의 숨겨진 컨텐츠(기본 숨김처리) */
.dropdown-content{
  display: none;
  background-color: darkgreen;
  position:absolute; /* 위치를 부모 기준으로 절대위치 설정 */
  /* top : 100%; */
  /* left:0; */
}

/* 드롭다운 메뉴에 마우스 올렸을 때 컨텐츠 표시 */
.dropdown:hover .dropdown-content{
  display: block;
}

/* home 내부의 링크 스타일 */
#home a{
  display: block;
  text-decoration: none;
  color:white;
  padding: 16px;
}

#home{
  background-color: orange;
  width: 100px;
  text-align: center;
  float : right;
}

.dropdown-content a{
  display: block;
  padding: 12px 16px;
}

/* 드롭다운 항목에 마우스 오버시 강조 효과 */
.dropdown-content a:hover{
  background-color: lightblue;
}